@import "tailwindcss";

body {
  font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
}

@theme {
  --podium-cds-transition-duration-normal: 250ms;
  --podium-cds-transition-duration-fast: 150ms;
  --podium-cds-transition-timing-function-ease: cubic-bezier(
    0.25,
    0.1,
    0.25,
    1
  );
  --podium-cds-size-form-input-field-height: 56px;
  --podium-cds-size-form-input-container-height: 86px;
  --podium-cds-size-icon-l: 48px;
  --podium-cds-size-icon-m: 24px;
  --podium-cds-size-icon-s: 16px;
  --podium-cds-size-border-width-l: 2px;
  --podium-cds-size-border-width-m: 1.5px;
  --podium-cds-size-border-width-s: 1px;
  --podium-cds-size-border-radius-xl: 24px;
  --podium-cds-size-border-radius-l: 12px;
  --podium-cds-size-border-radius-m: 8px;
  --podium-cds-size-border-radius-s: 4px;
  --podium-cds-size-spacing-grid-exterior-gutter-l: 48px;
  --podium-cds-size-spacing-grid-exterior-gutter-s: 24px;
  --podium-cds-size-spacing-grid-gutter-l: 12px;
  --podium-cds-size-spacing-grid-gutter: 16px;
  --podium-cds-size-spacing-xxxxl: 120px;
  --podium-cds-size-spacing-xxxl: 84px;
  --podium-cds-size-spacing-xxl: 60px;
  --podium-cds-size-spacing-xl: 36px;
  --podium-cds-size-spacing-l: 24px;
  --podium-cds-size-spacing-m: 12px;
  --podium-cds-size-spacing-s: 8px;
  --podium-cds-size-spacing-xs: 4px;
  --podium-cds-shadow-100-inverse: 0px 4px 8px 0px rgba(17, 17, 17, 0.18),
    0px 0px 24px 4px rgba(17, 17, 17, 0.09);
  --podium-cds-shadow-100: 0px 4px 8px 0px rgba(17, 17, 17, 0.06),
    0px 0px 24px 4px rgba(17, 17, 17, 0.03);
  --podium-cds-motion-duration-400: 400ms;
  --podium-cds-motion-duration-350: 350ms;
  --podium-cds-motion-duration-300: 300ms;
  --podium-cds-motion-duration-250: 250ms;
  --podium-cds-motion-duration-150: 150ms;
  --podium-cds-motion-delay-250: 250ms;
  --podium-cds-motion-delay-200: 200ms;
  --podium-cds-motion-delay-150: 150ms;
  --podium-cds-motion-delay-100: 100ms;
  --podium-cds-motion-delay-50: 50ms;
  --podium-cds-motion-easing-expressive: cubic-bezier(0.6, 0, 0.1, 1);
  --podium-cds-motion-easing-functional: cubic-bezier(0.4, 0, 0.2, 1);
  --podium-cds-font-style-normal: normal;
  --podium-cds-font-size-xxxxxl: 72px;
  --podium-cds-font-size-xxxxl: 48px;
  --podium-cds-font-size-xxxl: 40px;
  --podium-cds-font-size-xxl: 32px;
  --podium-cds-font-size-xl: 28px;
  --podium-cds-font-size-l: 24px;
  --podium-cds-font-size-m: 20px;
  --podium-cds-font-size-s: 16px;
  --podium-cds-font-size-xs: 14px;
  --podium-cds-font-size-xxs: 12px;
  --podium-cds-font-weight-bold: 700;
  --podium-cds-font-weight-medium: 500;
  --podium-cds-font-weight-regular: 400;
  --podium-cds-elevation-100: 100;
  --podium-cds-elevation-90: 90;
  --podium-cds-elevation-80: 80;
  --podium-cds-elevation-70: 70;
  --podium-cds-elevation-60: 60;
  --podium-cds-elevation-50: 50;
  --podium-cds-elevation-40: 40;
  --podium-cds-elevation-30: 30;
  --podium-cds-elevation-20: 20;
  --podium-cds-elevation-10: 10;
  --podium-cds-dialog-bg-blur: 4px;
  --podium-cds-button-color-bg-secondary: transparent;
  --podium-cds-button-height-l: 58px;
  --podium-cds-button-height-m: 46px;
  --podium-cds-button-height-s: 34px;
  --podium-cds-button-padding-underline: 0;
  --podium-cds-button-padding-sides-l: 24px;
  --podium-cds-button-padding-sides-m: 24px;
  --podium-cds-button-padding-sides-s: 16px;
  --podium-cds-button-padding-bottom-l: 18px;
  --podium-cds-button-padding-bottom-m: 12px;
  --podium-cds-button-padding-bottom-s: 6px;
  --podium-cds-button-padding-top-l: 18px;
  --podium-cds-button-padding-top-m: 12px;
  --podium-cds-button-padding-top-s: 6px;
  --podium-cds-button-text-decoration-line: underline;
  --podium-cds-button-box-shadow-hover-width: 0;
  --podium-cds-button-box-shadow-width: 0;
  --podium-cds-button-border-radius: 30px;
  --color-box-focus-ring: rgba(39, 93, 197, 1);
  --color-focus-shadow: rgba(17, 17, 17, 0.12);
  --color-gradient-brand-orange: linear-gradient(
    113.7deg,
    #ff0015 3.64%,
    #fe5000 50.92%,
    #ff6a00 97.26%
  );
  --color-scrim-primary-inverse: rgba(17, 17, 17, 0.8);
  --color-scrim-primary: rgba(17, 17, 17, 0.36);
  --color-scrim-100-inverse: rgba(17, 17, 17, 0.8);
  --color-scrim-100: rgba(17, 17, 17, 0.36);
  --color-grey-900: #1f1f21;
  --color-grey-800: #28282a;
  --color-grey-700: #39393b;
  --color-grey-600: #4b4b4d;
  --color-grey-500: #707072;
  --color-grey-400: #9e9ea0;
  --color-grey-300: #cacacb;
  --color-grey-200: #e5e5e5;
  --color-grey-100: #f5f5f5;
  --color-grey-50: #fafafa;
  --color-pink-900: #4c012d;
  --color-pink-800: #770349;
  --color-pink-700: #a50767;
  --color-pink-600: #d00b84;
  --color-pink-500: #ed1aa0;
  --color-pink-400: #fc5dbb;
  --color-pink-300: #fe90cc;
  --color-pink-200: #ffb0dd;
  --color-pink-100: #ffcdea;
  --color-pink-50: #ffe1f3;
  --color-purple-900: #1c0060;
  --color-purple-800: #300080;
  --color-purple-700: #4400a9;
  --color-purple-600: #5400cc;
  --color-purple-500: #6e0ff6;
  --color-purple-400: #8755ff;
  --color-purple-300: #a082ff;
  --color-purple-200: #beaffd;
  --color-purple-100: #d6d1ff;
  --color-purple-50: #e4e1fc;
  --color-teal-900: #043441;
  --color-teal-800: #004856;
  --color-teal-700: #005c68;
  --color-teal-600: #0a7281;
  --color-teal-500: #008e98;
  --color-teal-400: #1cb2b6;
  --color-teal-300: #31cbcb;
  --color-teal-200: #69eee7;
  --color-teal-100: #9cfff7;
  --color-teal-50: #d4fffb;
  --color-blue-900: #020664;
  --color-blue-800: #02068e;
  --color-blue-700: #061dbb;
  --color-blue-600: #0034e3;
  --color-blue-500: #1151ff;
  --color-blue-400: #1190ff;
  --color-blue-300: #4cabff;
  --color-blue-200: #87ceff;
  --color-blue-100: #b9e2ff;
  --color-blue-50: #d6eeff;
  --color-green-900: #003c2a;
  --color-green-800: #005034;
  --color-green-700: #00643e;
  --color-green-600: #007d48;
  --color-green-500: #1eaa52;
  --color-green-400: #3ccd49;
  --color-green-300: #5fe63f;
  --color-green-200: #83f13b;
  --color-green-100: #bdfb72;
  --color-green-50: #dfffb9;
  --color-yellow-900: #99470a;
  --color-yellow-800: #cd6006;
  --color-yellow-700: #e57a09;
  --color-yellow-600: #f08e0a;
  --color-yellow-500: #fca600;
  --color-yellow-400: #fdc400;
  --color-yellow-300: #ffd11b;
  --color-yellow-200: #fedf35;
  --color-yellow-100: #feea55;
  --color-yellow-50: #fef087;
  --color-orange-900: #3e1009;
  --color-orange-800: #5d180c;
  --color-orange-700: #7e200d;
  --color-orange-600: #9f290f;
  --color-orange-500: #d33918;
  --color-orange-400: #ff5000;
  --color-orange-300: #ff8255;
  --color-orange-200: #ffa584;
  --color-orange-100: #ffc5ad;
  --color-orange-50: #ffe2d6;
  --color-red-900: #530300;
  --color-red-800: #780700;
  --color-red-700: #a70e00;
  --color-red-600: #d30005;
  --color-red-500: #ee0005;
  --color-red-400: #ff4e4a;
  --color-red-300: #ff7975;
  --color-red-200: #ffabad;
  --color-red-100: #ffc3c4;
  --color-red-50: #ffe5e5;
  --color-white: #ffffff;
  --color-black: #111111;
  --podium-cds-breakpoint-xl: 1920px;
  --podium-cds-breakpoint-l: 1440px;
  --podium-cds-breakpoint-m: 960px;
  --podium-cds-breakpoint-s: 600px;
  --podium-cds-breakpoint-xs: 320px;
  --podium-cds-form-shadow-focus: 0 0 0 12px var(--color-focus-shadow);
  --podium-cds-input-color-disabled: var(--color-grey-500);
  --podium-cds-icon-button-color-bg-disabled-on-dark: var(--color-grey-500);
  --podium-cds-icon-button-color-bg-disabled-on-light: var(--color-grey-200);
  --podium-cds-icon-button-color-bg-disabled: var(--color-grey-200);
  --podium-cds-icon-button-color-bg-tertiary-hover-on-dark: var(
    --color-grey-700
  );
  --podium-cds-icon-button-color-bg-tertiary-hover-on-light: var(
    --color-grey-200
  );
  --podium-cds-icon-button-color-bg-tertiary-hover: var(--color-grey-200);
  --podium-cds-icon-button-color-bg-secondary-hover-on-dark: var(
    --color-grey-700
  );
  --podium-cds-icon-button-color-bg-secondary-hover-on-light: var(
    --color-grey-300
  );
  --podium-cds-icon-button-color-bg-secondary-hover: var(--color-grey-300);
  --podium-cds-icon-button-color-bg-secondary-on-dark: var(--color-black);
  --podium-cds-icon-button-color-bg-secondary-on-light: var(--color-grey-100);
  --podium-cds-icon-button-color-bg-secondary: var(--color-grey-100);
  --podium-cds-icon-button-color-bg-primary-hover-on-dark: var(
    --color-grey-400
  );
  --podium-cds-icon-button-color-bg-primary-hover-on-light: var(
    --color-grey-500
  );
  --podium-cds-icon-button-color-bg-primary-hover: var(--color-grey-500);
  --podium-cds-icon-button-color-bg-primary-on-dark: var(--color-white);
  --podium-cds-icon-button-color-bg-primary-on-light: var(--color-black);
  --podium-cds-icon-button-color-bg-primary: var(--color-black);
  --podium-cds-button-color-border-secondary-disabled-on-dark: var(
    --color-grey-600
  );
  --podium-cds-button-color-border-secondary-disabled: var(--color-grey-300);
  --podium-cds-button-color-border-secondary-hover-on-dark: var(--color-white);
  --podium-cds-button-color-border-secondary-hover: var(--color-black);
  --podium-cds-button-color-border-secondary-on-dark: var(--color-grey-400);
  --podium-cds-button-color-border-secondary-on-light: var(--color-grey-300);
  --podium-cds-button-color-border-secondary: var(--color-grey-300);
  --podium-cds-button-color-bg-primary-disabled-on-dark: var(--color-grey-600);
  --podium-cds-button-color-bg-primary-disabled-on-light: var(--color-grey-200);
  --podium-cds-button-color-bg-primary-disabled: var(--color-grey-200);
  --podium-cds-button-color-bg-primary-hover-on-dark: var(--color-grey-300);
  --podium-cds-button-color-bg-primary-hover-on-light: var(--color-grey-500);
  --podium-cds-button-color-bg-primary-hover: var(--color-grey-500);
  --podium-cds-button-color-bg-primary-on-dark: var(--color-white);
  --podium-cds-button-color-bg-primary-on-light: var(--color-black);
  --podium-cds-button-color-bg-primary: var(--color-black);
  --podium-cds-button-border-width: var(--podium-cds-size-border-width-m);
  --color-text-badge: var(--color-orange-500);
  --color-focus-ring: var(--color-blue-500);
  --color-warning-inverse: var(--color-yellow-100);
  --color-warning: var(--color-yellow-200);
  --color-info-inverse: var(--color-blue-400);
  --color-info: var(--color-blue-500);
  --color-success-inverse: var(--color-green-500);
  --color-success: var(--color-green-600);
  --color-critical-inverse: var(--color-red-400);
  --color-critical: var(--color-red-600);
  --color-border-disabled-on-dark: var(--color-grey-700);
  --color-border-disabled-on-light: var(--color-grey-300);
  --color-border-active-on-dark: var(--color-white);
  --color-border-active-on-light: var(--color-black);
  --color-border-primary-on-dark: var(--color-grey-400);
  --color-border-primary-on-light: var(--color-grey-500);
  --color-border-primary-inverse: var(--color-grey-400);
  --color-border-active-inverse: var(--color-white);
  --color-border-success: var(--color-green-600);
  --color-border-tertiary: var(--color-grey-200);
  --color-border-secondary: var(--color-grey-300);
  --color-border-primary: var(--color-grey-500);
  --color-border-disabled: var(--color-grey-300);
  --color-border-critical: var(--color-red-600);
  --color-border-active: var(--color-black);
  --color-text-disabled-on-dark: var(--color-grey-700);
  --color-text-disabled-on-light: var(--color-grey-300);
  --color-text-hover-on-dark: var(--color-grey-200);
  --color-text-hover-on-light: var(--color-grey-500);
  --color-text-secondary-on-dark: var(--color-grey-400);
  --color-text-secondary-on-light: var(--color-grey-500);
  --color-text-primary-on-dark: var(--color-white);
  --color-text-primary-on-light: var(--color-black);
  --color-text-secondary-inverse: var(--color-grey-400);
  --color-text-primary-inverse: var(--color-white);
  --color-text-hover-inverse: var(--color-grey-200);
  --color-text-disabled-inverse: var(--color-grey-700);
  --color-text-success: var(--color-green-600);
  --color-text-secondary: var(--color-grey-500);
  --color-text-primary: var(--color-black);
  --color-text-link: var(--color-blue-500);
  --color-text-hover: var(--color-grey-500);
  --color-text-disabled: var(--color-grey-300);
  --color-text-critical: var(--color-red-600);
  --color-bg-modal: var(--color-white);
  --color-bg-always-light: var(--color-white);
  --color-bg-always-dark: var(--color-black);
  --color-bg-on-image-secondary: var(--color-grey-200);
  --color-bg-on-image-primary: var(--color-white);
  --color-bg-primary-inverse: var(--color-grey-900);
  --color-bg-hover-inverse: var(--color-grey-700);
  --color-bg-warning: var(--color-yellow-200);
  --color-bg-success: var(--color-green-600);
  --color-bg-secondary: var(--color-grey-100);
  --color-bg-primary: var(--color-white);
  --color-bg-overlay: var(--color-white);
  --color-bg-hover: var(--color-grey-200);
  --color-bg-disabled: var(--color-grey-200);
  --color-bg-critical: var(--color-red-600);
  --color-bg-active: var(--color-grey-100);
  --color-brand-red: var(--color-red-500);
  --color-brand-orange: var(--color-orange-400);
}
